builddir*/
__pycache__/
*.swp
*~
*.o
*.log
*.trs
.deps/
.dirstamp
/autom4te.cache/
/Makefile
/Makefile.in
/aclocal.m4
/compile
/application-x-wordprocess.svg
/config.h
/config.h.in
/config.status
/configure
/depcomp
/font_table.h
/icon.c
/install-sh
/makeicon
/missing
/multibin2c
/ptysmoke
/script_table.h
/stamp-h1
/test-suite.log
/test-driver
/update-desktop-caches
/wordprocess-window-icon.png
/wordprocess-*.tar.gz
/wp
/wp.1
/xwp
/xwp.1
